<div class="contact-the-artist">
  <div class="row">
    <% if errors.any? %>
        <h4> <%=  pluralize(errors.count, "error") %> prevented this email from being sent: </h4>
        <ul>
          <% errors.each do |message| %>
              <li><strong class="error"> <%= message %> </strong> </li>
          <% end %>
        </ul>
    <% end %>
  </div>

  <h2>Contact the Artist</h2>

  <%= form_tag '/contact', namespace: :contact, class: 'contact-form' do %>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <label for="name">Name</label>
        </div>
        <div class="col-sm-12 col-md-9">
          <%= text_field_tag :name, nil, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <label for="name">Email</label>
        </div>
        <div class="col-sm-12 col-md-9">
          <%= email_field_tag :email, nil, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <label for="message">Message</label>
        </div>
        <div class="col-sm-12 col-md-9">
          <%= text_area_tag :message, nil, required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= submit_tag 'Send', class: 'btn' %>
        </div>
      </div>
  <% end %>
</div>
